*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: #faf8f8;
}
/* Container */
.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Titles */
.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
.section-title {
  font-size: 20px;
  font-weight: bold;
}

/* Card Box */
.card {
  background: #ffffff;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* Inputs */
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 14px;
}
.input:focus {
  border-color: #007bff;
  outline: none;
  background: #f0f8ff;
}

/* Buttons */
.btn {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: ease 0.5s;
}
.btn:hover {
  background: #0056b3;
}
.btn-danger {
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.5s;
}
.btn-danger:hover {
  background: #b52b27;
}
.btn-success {
  background: #5cb85c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.5s;
}
.btn-success:hover {
  background: #449d44;
}

/* Dynamic List */
.list-block h3{
  margin-bottom: 10px;  
}
.list-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* Badge Styles */
.badge-row {
  margin: 8px 0;
}
.badge {
  padding: 5px 10px;
  border-radius: 5px;
  color: #222;
  font-size: 13px;
  margin-right: 5px;
}
.blue {
  background: #cce5ff;
}
.red {
  background: #f8d7da;
}

/* Feedback Card Content */
.name {
  font-size: 18px;
  font-weight: bold;
}
.email {
  color: #555;
}
.description {
  margin-top: 10px;
  line-height: 1.4;
}

/* Screenshot */
.image {
  width: 120px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Timestamp */
.time {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
