:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f4f4;
}
.app-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-card {
  background-color: #fff;
  padding: 25px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.task-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
.task-input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.task-input::placeholder{
  font-size: 15px;
}
.primary-btn {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.primary-btn:hover {
  background: #5a6fe0;
}
.task-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.task-item {
  background: #f5f6fc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-actions button {
  margin-left: 5px;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.edit-btn {
  background: #f5ca55;
  color: #000;
}
.delete-btn {
  background: #e84118;
  color: white;
}
.edit-btn:hover {
  opacity: 0.85;
}
.delete-btn:hover {
  opacity: 0.85;
}